* {
    padding: 10px;
    margin: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

header {
    height: 30vh;
    width: auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .heading {
        text-align: center;
    }

    h1 {
        color: black;
        font-size: 50px;
        margin: 10px 0px;
        padding: 25px 0px;
        text-decoration: underline;
    }

    h2 {
        color: black;
        font-size: 30px;
        margin: 10px 0;
    }

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 500px;
    width: 1250px;
    justify-content: center;
    background-color: #a3c9a8;
    padding: 10px 10px;
}

.background-1 {
    background-image: url('Screenshot\ 2021-09-13\ at\ 22.04.22.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    /* background-color: #489fb5; */
    padding: 20px;
}

.background-2 {
    background-color: #82c0cc;
    padding: 20px;
}

.background-3 {
    background-color: #a3c9a8;
    padding: 20px;
}

.background-4 {
    background-color:#846c5b;
    padding: 20px;
}

.canvas {
    background-color: black;
    padding: 10px;
    width: 10px;
}