.About-Me {
    height: auto;
    width: 100%;
    background-color: $color-primary;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #about-me-heading {
        color: $color-white;
        font-size: 30px;
        text-decoration: underline;
        padding: 0 50px;
    }

    p {
        color: $color-white;
        font-size: 25px; 
        text-align: center;
        margin: 50 100px;
        padding: 0 50px;
    }
  }