@import url("https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}