.nav-bar {
    position: sticky;
    top: 0px;
    height: 10vh;
    width: 100%;
    background-color: $color-white;
    padding: 0 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    flex-wrap: nowrap;
}

.logo {
    font-family: $font-logo;
    font-size: 20px;
    color: $color-black;
}

.dropbtn {
    width: 100px;
    background-color: $color-white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    color: $color-black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-white;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: $color-black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: $color-white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: $color-white;
}
