.Projects {
    height: 90vh;
    background-color: $color-white;
    padding: 0 60px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: space-between;

    #projects-heading {
        display: flex;
        margin: 35px auto;
        color: $color-black;
        font-size: 50px;
        text-decoration: underline;
    }

    #left-panel {
        width: 50%;
        height: auto;
        margin: 150px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }

    #right-panel {
        width: 50%;
        height: auto;
        margin: 150px auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}