@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&family=Source+Code+Pro&display=swap');

$font-body: "Abel", sans-serif;
$font-display: "Source Code Pro", sans-serif;
$font-logo: "Playfair Display", sans-serif;

$color-primary: #17353D;
$color-white: #Fafafa;
$color-black: #333333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-black;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0px;
    height: 10vh;
    background-color: $color-white;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: $font-logo;
    font-size: 20px;
    color: $color-black;
}

.button {
    display: block;
    width: 100px;
    background-color: $color-white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    color: $color-black;
}
// I need to add formatt the button font//

header {
    height: 30vh;
    background-color: $color-primary;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
    }

    h1 {
        color: $color-white;
        font-size: 50px;
        margin: 10px 0;
    }

    h2 {
        color: $color-white;
        font-size: 50px;
        margin: 10px 0;
    }
}

.bg {
    width: 100%;
    z-index: 0;
}

.Introduction {
    height: 30vh;
    background-color: $color-primary;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

// I need to add space between intro heading and paragraph//

    h1 {
        color: $color-white;
        font-size: 30px;
        text-decoration: underline;
        padding: 0 50px;
    }

    p {
        color: $color-white;
        font-size: 25px; 
        text-align: center;
        margin: 50 100px;
        padding: 0 50px;
    }
}

.Projects {
    height: 90vh;
    background-color: $color-white;
    padding: 0 60px;

    h1 {
        color: $color-black;
        font-size: 50px;
        text-decoration: underline;
        text-align: center;
    }
}

.image {
width: 1440px;
height: 800px;
left: 0px;
top: 0px;

background: url(image.png);
}

// I need to change the positioning of this to use flexbox not absolute etc//

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    h1 {
        position: absolute;
        bottom: 200px;
        left: 75px;
    }

    h2 {
        position: absolute;
        bottom: 100px;
        left: 75px;
    }

    h3 {
        position: absolute;
        bottom: 0px;
        left: 75px;
    }

    h4 {
        position: absolute;
        bottom: -100px;
        left: 75px;
    }
  }
